.shares-filter-wrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.shares-filter-wrapper button {
  background-color: #70ccdb;
  color: white;
  border: none;
  height: 30px;
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.shares-filter-wrapper button:hover {
  background-color: #5b6061;
  color: #70ccdb;
}
