:host {
    display: contents;
  }

.chat-body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.chat-bottom {
  width: 100%;
  display: flex;
  height: 35px;
  box-sizing: border-box;
}

.chat-bottom input {
  border-radius: 10px;
  border-color: #70ccdb;
  width: 100%;
  border-style: solid;
}

.chat-bottom button {
  width: 20%;
  border-radius: 10px;
  border-color: #70ccdb;
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
}

.chat-bottom button:hover {
  background-color: #5b6061;
  color: white;
}

.chat-message-left {
  margin: 10px 5px 10px 5px;
}

.chat-message-left span {
  padding: 0 5px 0 5px;
  background-color: #8f3324;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #8f3324;
  overflow-wrap: break-word;
  box-sizing: border-box;
  text-align: start;
  max-width: 50%;
  color: white;
}

.chat-message-right {
  text-align: right;
  margin: 10px 5px 10px 5px;
}

.chat-message-right span {
  padding: 0 5px 0 5px;
  background-color: #7096db;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #7096db;
  overflow-wrap: break-word;
  box-sizing: border-box;
  text-align: start;
  max-width: 50%;
  color: white;
}

.errors{
    border-color: red;
}