:host {
  display: contents;
}

.page {
  height: 100%;
  border: solid #70ccdb 3px;
  box-sizing: border-box;
  /*max-width: 37%;*/
  max-width: 710px;
  min-width: 1px;
  margin: 0px auto 0px auto;
  border-radius: 20px;
}

@media (max-width: 794px) {
  .page {
    width: 100%;
  }
}
