:host {
    display: contents;
}

nav {
  border: solid #70ccdb 3px;
  border-radius: 50px;
  display: flex;
  width: 80px;
  /* max-width: 5vw;
      min-width: 50px;*/
  height: 95%;
  box-sizing: border-box;
  margin-left: 7px;
}

.navImg {
  max-width: 100%;
  max-height: 10%;
  border-radius: 100%;
}

.navImg:hover {
  background-color: #5b6061;
}
