<div class="register">
    <form (ngSubmit)="registerUser(usernameInput.control.value,passwordInput.control.value)" #registerForm="ngForm" appSamePasswords>
       <label for="username">Username</label>
       <input type="text" name="username" required minlength="3" ngModel #usernameInput="ngModel">
       <p class="errors" *ngIf="usernameInput.control.touched && usernameInput.control.errors?.['required']">username is required</p>
       <p class="errors" *ngIf="usernameInput.control.touched && usernameInput.control.errors?.['required'] == null && usernameInput.control.errors?.['minlength']">minimum length 3</p>
       <label for="password">Password</label>
       <input type="text" name="password" required minlength="3" ngModel #passwordInput="ngModel"> 
       <p class="errors" *ngIf="passwordInput.control.touched && passwordInput.control.errors?.['required']">password is required</p>
       <p class="errors" *ngIf="passwordInput.control.touched && passwordInput.control.errors?.['required'] == null && passwordInput.control.errors?.['minlength']">minimum length 3</p>
       <label for="password">Repeat Password</label>
       <input type="text" name="rePassword" required minlength="3" ngModel #rePasswordInput="ngModel"> 
       <p class="errors" *ngIf="rePasswordInput.control.touched && rePasswordInput.control.errors?.['required']">password is required</p>
       <p class="errors" *ngIf="rePasswordInput.control.touched && rePasswordInput.control.errors?.['required'] == null && rePasswordInput.control.errors?.['minlength']">minimum length 3</p>
       <p class="errors" *ngIf="passwordInput.control.touched && rePasswordInput.control.touched && registerForm.errors?.['error']">passwords dont match</p>
       <button [disabled]="!registerForm.control.valid">Register</button>
       <p class="errors" *ngIf="error">{{error}}</p>
    </form>
</div>