<div class="chat-body">
  <ng-container *ngFor="let chat of sharedChat">
    <div *ngIf="chat.messageOwner === receiverId" class="chat-message-left">
      <span>{{ chat.message }}</span>
    </div>
    <div *ngIf="chat.messageOwner === loggedUserId" class="chat-message-right">
      <span>{{ chat.message }}</span>
    </div>
  </ng-container>
</div>
<form #messageForm="ngForm" (submit)="sendMessage(message.control.value, messageForm)" class="chat-bottom">
  <input [style.border-color]="(message.control.errors?.['required'] && message.control.touched) === true ? 'red' : ''" type="text" name="message" #message="ngModel" required minlength="1" ngModel />
  <button [disabled]="!messageForm.control.valid">Send</button>
</form>