.login-register-conteiner{
    border-color: #70ccdb;
    border-width: 3px;
    border-style: solid;
    position: relative;
    width: 50%;
    min-height: 240px;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 35%;
    z-index: 1000;
    border-radius: 10px;
    background-color: white;
}

.login-register-login-register-btns{
    display: flex;
    flex-wrap: wrap;
}

.login-register-login-register-btns button {
    height: 35px;
    flex-grow: 1;
    border-style: none;
    background-color: #70ccdb;
    color: white;
}

.login-register-login-register-btns button:hover {
   background-color: white;
   color: #70ccdb;
}