.shareTR-comment-profile-picture {
  height: 27px;
  border-radius: 30px;
  margin-left: 7px;
  margin-top: 4px;
}

.shareTR-comment-profile-name {
  display: inline;
  position: relative;
  bottom: 8px;
  left: 5px;
}

.shareTR-comment-profile-heart {
  margin: auto 0px auto 10px;
  height: 25px;
  width: 25px;
  clip-path: polygon(
    50% 100%,
    59% 96%,
    66% 90%,
    72% 85%,
    78% 79%,
    83% 74%,
    87% 68%,
    92% 61%,
    96% 54%,
    98% 45%,
    100% 38%,
    100% 30%,
    100% 21%,
    98% 14%,
    95% 9%,
    90% 4%,
    84% 0%,
    79% 0%,
    73% 0%,
    67% 1%,
    63% 4%,
    59% 8%,
    55% 12%,
    53% 16%,
    50% 21%,
    48% 15%,
    45% 11%,
    42% 7%,
    38% 4%,
    34% 1%,
    29% 0%,
    24% 0,
    17% 0%,
    13% 2%,
    8% 5%,
    4% 10%,
    2% 15%,
    0 23%,
    0 32%,
    0 40%,
    1% 45%,
    3% 50%,
    5% 55%,
    7% 60%,
    10% 65%,
    13% 69%,
    16% 73%,
    19% 77%,
    23% 80%,
    25% 84%,
    29% 87%,
    33% 90%,
    36% 92%,
    40% 95%,
    45% 98%
  );
}

.shareTR-comment-profile-heart:hover {
  background-color: #70ccdb;
}

.shareTR-comment-profile-text {
  font-size: 0.9rem;
  margin: 5px 0 11px 0;
}

.shareTR-comment-profile-delete{
  margin: auto 0px auto 10px;
  height: 25px;
  width: 25px;
  clip-path: polygon(
    100% 100%,
    99% 94%,
    96% 88%,
    92% 81%,
    89% 74%,
    85% 66%,
    80% 58%,
    76% 51%,
    82% 39%,
    88% 27%,
    94% 15%,
    100% 3%,
    97% 0%,
    51% 24%,
    3% 0%,
    0% 5%,
    24% 50%,
    0% 95%,
    3% 100%,
    50% 77%,
    94% 100%
  );
}

.shareTR-comment-profile-delete:hover {
  background-color: #70ccdb;
}
