.notifications-head {
  text-align: center;
  min-width: 600px;
  height: 60px;
  background-color: #70ccdb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
}

.notifications-head h3 {
  margin: 0px;
}

@media (max-width: 794px) {
    .notifications-head {
      min-width: 1px;
    }
}