<div class="profile-head" [class]="isLogged === false ? 'blur-effect' : ''">
    <div class="profile-head-style" [style.background-image]="'url(' + userData?.profileBanner + ')'">
      <img
        src="{{userData?.profilePicture == null ?'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : userData?.profilePicture}}"
        class="profile-image"
        alt=""
      />
    </div>
    <div class="profile-head-info">
      <h1 class="profile-head-name">{{userData?.nickname}}<img *ngIf="isOwner" (click)="toggleEdit()" src="../../../assets/images/profile-settings-icon.png" alt=""></h1>
      <div class="edit-profile" *ngIf="isEditMode">
          <form (ngSubmit)="editProfile(nickname.control.value,profilePicture.control.value,profileBanner.control.value)" #editForm="ngForm">
            <h3>Change utilities</h3>
            <label for="nickname">Change nickname</label>
            <input type="text" name="nickname" #nickname="ngModel" minlength="3" maxlength="13" required ngModel="{{userData?.nickname}}">
            <p *ngIf="nickname.control.touched && nickname.control.errors?.['required']" class="errors">nickname is required</p>
            <p *ngIf="nickname.control.touched && nickname.control.errors?.['minlength']" class="errors">minimum length 3</p>
            <label for="profilePicture">Change profile picture</label>
            <input type="text" name="profilePicture" #profilePicture="ngModel" pattern="https?:\/\/.*" required ngModel="{{userData?.profilePicture}}">
            <p *ngIf="profilePicture.control.touched && profilePicture.control.errors?.['required']" class="errors">profile picture is required</p>
            <p *ngIf="profilePicture.control.touched && profilePicture.control.errors?.['pattern']" class="errors">must be valid link</p>
            <label for="profileBanner">Change profile banner</label>
            <input type="text" name="profileBanner" #profileBanner="ngModel" pattern="https?:\/\/.*" ngModel="{{userData?.profileBanner}}">
            <p *ngIf="profileBanner.control.touched && profileBanner.control.errors?.['pattern']" class="errors">must be valid link</p>
            <button [disabled]="!editForm.control.valid">Edit</button>
          </form>
          <form (ngSubmit)="editProfileData(username.control.value,passwordInput.control.value,true)" #editForm="ngForm">
            <h3>Change username</h3>
            <label for="username">Change username</label>
            <input type="text" name="username" #username="ngModel" minlength="3" maxlength="30" required ngModel="{{userData?.username}}">
            <p *ngIf="username.control.touched && username.control.errors?.['required']" class="errors">username is required</p>
            <p *ngIf="username.control.touched && username.control.errors?.['minlength']" class="errors">minimum length 3</p>
            <label for="passord">Enter password</label>
            <input type="text" name="password" required ngModel #passwordInput="ngModel">
            <p *ngIf="passwordInput.control.touched && passwordInput.control.errors?.['required']" class="errors">password is required</p>
            <button [disabled]="!editForm.control.valid">Edit</button>
            <p class="errors" *ngIf="errorUsername">{{errorUsername}}</p>
          </form>
          <form (ngSubmit)="editProfileData(password.control.value,newPassword.control.value,false)" #editForm="ngForm">
            <h3>Change password</h3>
            <label for="password">Old password</label>
            <input type="text" name="password" #password="ngModel" minlength="3" required ngModel>
            <p *ngIf="password.control.touched && password.control.errors?.['required']" class="errors">password is required</p>
            <p *ngIf="password.control.touched && password.control.errors?.['minlength']" class="errors">minimum length 3</p>
            <label for="newPassword">New password</label>
            <input type="text" name="newPassword" #newPassword="ngModel" minlength="3" required ngModel> 
            <p *ngIf="newPassword.control.touched && newPassword.control.errors?.['required']" class="errors">password is required</p>
            <p *ngIf="newPassword.control.touched && newPassword.control.errors?.['minlength']" class="errors">minimum length 3</p>      
            <button [disabled]="!editForm.control.valid">Edit</button>
            <p class="errors" *ngIf="errorPass">{{errorPass}}</p>
          </form>
      </div>
      <div class="profile-head-iteraction" *ngIf="!isOwner">
        <button *ngIf="!isFriend && isFriend !== null && isInRequests === false" (click)="addFriend()" class="btn-add-friend">Add friend</button>
        <button *ngIf="isFriend" (click)="removeFriend()" class="btn-remove-friend">Remove friend</button>
        <h3 *ngIf="isFriend === null">Friend request is sended</h3>
        <h3 *ngIf="isInRequests === true">Check your notifications for friend request</h3>
      </div>
      <div class="profile-statistics">
        <img src="../../../assets/images/profile-likes-icon.png" alt="">
        <span>{{userData?.likes}}</span>
        <img src="../../../assets/images/profile-followers-icon.png" alt="">
        <span>{{userData?.followers}}</span>
      </div>
    </div>
  </div>